.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 2rem);
  max-height: calc(100vh - 2rem);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  padding: 2rem;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  background-color: var(--mui-palette-background-paper, #fff);
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%),
    0 9px 46px 8px rgb(0 0 0 / 12%);
}

.description {
  margin-top: 1rem;
}

@media (min-width: 600px) {
  .modalContent {
    width: 400px;
  }
}